.text-white{
	color: aliceblue;
}

.content-container{
	min-height: 800px;
}

.stacked-footer{
	padding-top: 80px;
	min-height: 250px;
	color: aliceblue;
	background-color: #222;
}

.center{
	text-align:center;
}

.shadow{
    box-shadow: 5px -5px 5px #666666;
}
.text-shadow{
    text-shadow: 1px -1px 1px #666666;
}