<h1 class="center text-shadow">{{question.title}}</h1>

<!--<p>If we are logged in we should have a member obj {{member}}</p>

<h3>Question Rules</h3>
<p>A member must be logged in to cast votes, ask questions, add responses, or add comments</p>
<p>A member may not upvote their own questions/answers/comments</p>
<p>Only the member who posted the the questions can mark an answer as the correct answer</p>
<p>Only the member who posted the the questions/answers/comments can edit their content</p>
<p>A member may only upvote the questions/answers/comments once.</p>
<p>A member can change their vote to either up or down but may not vote both ways.</p>-->
<div class="container">
    <div class="row">
        <!--<div>Question: {{question}}</div>-->
        <ul class="list-group col-sm-12">
            <li class="list-group-item panel panel-body panel-default shadow">
                <!--<hr>-->
                <div class="panel panel-default jumbotron">

                    <h2 class="">Question Title: {{question.title}} </h2>
                    <hr>

                    <img height="50px" style="border-radius:25px" src="assets/img/profile.jpg" ng-show="!question.imageUrl" alt="profile pic">
                    <img height="50px" style="border-radius:25px" ng-src="{{question.imageUrl}}" ng-show="question.imageUrl" alt="profile pic">

                    <span class=" badge" ng-show="question.answered">answered</span>
                    <span class=" badge" ng-show="!question.answered">unanswered</span>
                    <p>Written by: {{question.author}}</p>
                    <div class="btn-group pull-right">
                        <button class="btn btn-default glyphicon glyphicon-minus" ng-click="takeVote(question,-1)"></button>
                        <button class="btn btn-default">-{{question.voteCount}}-</button>
                        <button class="btn btn-default glyphicon glyphicon-plus" ng-click="takeVote(question,1)"></button>
                    </div>
                    <hr>
                    <h3 class=""> Question Body: {{question.body}}</h3>
                    <!--<br>q id {{question.$id}}-->
                    <h6>Tags</h6>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="tag in question.tags track by $index">{{tag}}</li>
                    </ul>
                    <!--<br>{{q}}:::-->

                </div>
            </li>

            <div class="panel panel-default shadow">
                <h3 class=" text-shadow">Add a comment <button class="btn btn-primary pull-right" ng-click="commentShow = !commentShow">Open/Close</button></h3>

                <form ng-show="commentShow" class="form-group panel panel-default shadow" ng-submit="addComment(comment)">
                    <label>Title</label>
                    <input class="form-control" type="text" ng-model="comment.title">
                    <label>Body</label>
                    <textarea class="form-control" ng-model="comment.body" cols="30" rows="10"></textarea>
                    <Button class="btn btn-success pull-right" type="submit" ng-click="commentShow = !commentShow">Add Comment</Button>
                    <hr>
                </form>
            </div>
            <div class="row">
                <div class="col-sm-10 panel panel-body panel-default shadow">
                    <ul class="list-group ">
                        <hr>
                        <h3 class="text-shadow center">Comments</h3>
                        <li class="list-group-item" ng-repeat="comment in comments">
                            <span class="btn pull-right" ng-show="member.$id == comment.memberId" ng-click="markAnswered(question,comment)">Mark as Correct Answer</span>
                            <h6><span ng-show="comment.correctAnswer">Correct Answer!</span></h6>
                            <h2 class="">Title: {{comment.title}} 

                                    </h2>
                            <hr>
                            <br>
                            <div class="">Comment: {{comment.body}} </div><br>
                            <div class="row shadow">
                                <h3 class="text-shadow">Add a response <button class="btn btn-primary pull-right" ng-click="responseShow = !responseShow">Open/Close</button></h3>
                                <form ng-show="responseShow" class="shadow form-group" ng-submit="addResponse(response)">
                                    <label>Title</label>
                                    <input class="form-control" type="text" ng-model="response.title">
                                    <label>Body</label>
                                    <textarea class="form-control" ng-model="response.body" cols="30" rows="10"></textarea>
                                    <Button class="btn btn-success pull-right" type="submit" ng-click="responseShow = !responseShow">Add Response</Button>
                                    <hr>
                                </form>
                            </div>
                            <hr>

                            <ul class="list-group col-sm-10">
                                <hr>
                                <h3 class="center text-shadow">Reponses</h3>
                                <li class="list-group-item shadow" ng-repeat="response in responses">
                                    <!--<h2 class="well">Response:{{response}}</h2>-->
                                    <h3 class="">Title: {{response.title}}</h3>
                                    <p class="">Response: {{response.body}}</p>
                                </li>
                            </ul>

                        </li>
                    </ul>
                </div>
            </div>

        </ul>
    </div>
</div>