<!--<p>If we are logged in we should have a member obj {{member}}</p>-->
<!--<div> <img height="50px" style="border-radius:25px" src="{{member.imageUrl}}" alt="profile pic"></div>-->
<div class="container">
    <div class="row">
        <div class="col-sm-12 panel panel-default shadow">
            <h2 class="center text-shadow">Submit a Question</h2>
            <form ng-submit="addQuestion(ask)" class="form-group">
                <!--<label>Author:</label>
                <input type="text" class="form-control" ng-model="ask.author">-->
                <label>Title:</label>
                <input type="text" class="form-control" ng-model="ask.title">
                <label>Description:</label>
                <textarea type="text" class="form-control" ng-model="ask.body">
                </textarea>
                <!--<input type="text" ng-model="ask.tags">-->
                <br>
                <button class="btn btn-block btn-primary shadow">Submit</button>
            </form>
        </div>
        <div class="col-sm-12 panel panel-primary shadow">
            <h1 class="center text-shadow">QUESTIONS</h1>

            <li class="list-group-item panel panel-body panel-primary shadow" ng-repeat="q in questions track by $index">
                <ul class="list-group">
                    <div class="col-sm-12 panel panel-default shadow" ng-show="showEdit">
                        <h2 class="center text-shadow">Edit a Question</h2>
                        <form ng-submit="submitEdit(q,edit)" class="form-group">
                            <label>Title:</label>
                            <input type="text" class="form-control" ng-model="edit.title">
                            <label>Description:</label>
                            <textarea type="text" class="form-control" ng-model="edit.body">
                </textarea>
                            <!--<input type="text" ng-model="ask.tags">-->
                            <br>
                            <button class="btn btn-block btn-primary shadow" ng-click="showEdit = !showEdit">Submit</button>
                        </form>
                    </div>
                    <h2 class="text-shadow">Question Title: {{q.title}} 
                        <span class="btn-group pull-right shadow">
                            <a class="btn btn-warning pull-right" ng-show="member.$id == q.memberId" ng-click="edit(q); showEdit = !showEdit">Edit</a>
                            <button class="btn btn-danger shadow" ng-show="member.$id == q.memberId" ng-click="deleteQ($index)">delete</button>
                            <a class="btn btn-primary pull-right" ui-sref='question({id: q.$id})'>More Info..</a>
                        </span>
                   </h2>
                    <div>
                        <img height="50px" style="border-radius:25px" src="assets/img/profile.jpg" ng-show="!q.imageUrl" alt="profile pic">
                        <img height="50px" style="border-radius:25px" ng-src="{{q.imageUrl}}" ng-show="q.imageUrl" alt="profile pic">
                        <div class="row">
                            <div class="col-sm-4">
                                <ul class="list-group">
                                    <li class="list-group-item">Author: {{q.author}}</li>
                                    <!--<li class="list-group-item">Reputation: {{q.reputation}}</li>-->
                                    <li class="list-group-item">Posted on: {{q.posted | date: 'MM/dd/yyyy'}}</li>

                                </ul>
                                <!--
                                <span>Reputation: {{q.reputation}}</span>
                                <span>Joined: {{q.created}}</span>
                                <span>Posted on: {{q.posted | date: 'MM/dd/yyyy'}}</span>-->


                            </div>
                            <div class="col-sm-8">
                                <ul class="list-group pull-right">
                                    <li class="list-group-item">
                                        <span class="text-shadow">votes: {{q.voteCount}}</span>
                                    </li>
                                    <li class="list-group-item text-shadow">
                                        <span ng-show="q.answered">answered</span>
                                        <span ng-show="!q.answered">unanswered</span>
                                    </li>
                                </ul>
                            </div>
                        </div>



                    </div>
                    <hr>
                    <p class="">Question Body: {{q.body}}</p>
                    <!--<br>Member Id: {{q.memberId}}-->
                    <h4 class="text-shadow">Tags</h4>
                    <ul class="list-group shadow">
                        <li class="list-group-item" ng-repeat="tag in q.tags track by $index">{{tag}}</li>
                    </ul>
                    <!--<br>{{q}}:::-->
            </li>
            </ul>
        </div>

    </div>
</div>

<!--<h2>Responsibilites</h2>
<p>It is your responsibility to get the questions from firebase to show up here.</p>
<p>When the user clicks on a question it should navigate them to the question view. To accomplish this you will need to pass
    to the route the questions id. This can be accomplished with either ui-sref="question({id: question.id})" or ng-href="#/questions/{{question.id}}"</p>
<p>It would also be nice if there is some sort of visual indicator that shows if the question has been answered already, and
    how many upvotes or downvotes the question itself has.</p>
<p>The questions can be orderby max upvotes or by date created depending on the users choice.</p>
<p>The question can be filtered based upon tags, unanswered</p>
<p>No voting from this page.</p>-->