<h1>QUESTIONS</h1>

<p>If we are logged in we should have a member obj {{member}}</p>

<h2>Responsibilites</h2>
<p>It is your responsibility to get the questions from firebase to show up here.</p>
<p>When the user clicks on a question it should navigate them to the question view. To accomplish this you will need to pass to the route the questions id. This can be accomplished with either ui-sref="question({id: question.id})" or ng-href="#/questions/{{question.id}}"</p>
<p>It would also be nice if there is some sort of visual indicator that shows if the question has been answered already, and how many upvotes or downvotes the question itself has.</p>
<p>The questions can be orderby max upvotes or by date created depending on the users choice.</p>
<p>The question can be filtered based upon tags, unanswered</p>
<p>No voting from this page.</p>